<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LetsWait</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.letswaitdating.letswait</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>letswaitdating</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>FacebookAppID</key>
	<string>331108297584040</string>
	<key>FacebookDisplayName</key>
	<string>Lets Wait Dating</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Enable the Camera to capture moments and profile photos</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Enabling Location Services allows LetsWait to find you local users and activities, and to provide you better experiences and security during dates</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Enabling Location Services allows LetsWait to find you local users and activities, and to provide you better experiences and security during dates</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enabling Location Services allows LetsWait to find you local users and activities, and to provide you better experiences and security during dates</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enabling microphone access is needed to capture video recordings</string>
	<key>NSMotionUsageDescription</key>
	<string>This app does not ask for or use Motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Enable LetsWait to access the camera roll to upload photos and save photos you've taken with the app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enable LetsWait to access the camera roll to save photos you've taken with the app</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
